In [9]:
# Import libraries and dependencies
import os
import pandas as pd
import alpaca_trade_api as tradeapi
from pathlib import Path

#import env which contains alpaca password
env = Path('./../env /.env')

# Load .env environment variables
from dotenv import load_dotenv
load_dotenv(env)

%matplotlib inline

In [10]:
# Set Alpaca API key and secret
alpaca_api_key = os.getenv("ALPACA_API_KEY")
alpaca_secret_key = os.getenv("ALPACA_SECRET_KEY")

# Create the Alpaca API object
alpaca = tradeapi.REST(
    alpaca_api_key,
    alpaca_secret_key,
    api_version="v2"
)

In [11]:
# Set the Tesla and Coca-Cola tickers
ticker = ["AAPL"]

# Set timeframe to "1Day"
timeframe = "1Day"

# Set start and end datetimes of 1 year, between now and 365 days ago.
start_date = pd.Timestamp("2019-05-01", tz="America/New_York").isoformat()
end_date = pd.Timestamp("2020-05-01", tz="America/New_York").isoformat()

# Get 1 year's worth of historical data for Tesla and Coca-Cola
df = alpaca.get_bars(
    ticker,
    timeframe,
    start=start_date,
    end=end_date
).df

# Display sample data
df.head(10)

,open,high,low,close,volume,trade_count,vwap,symbol
timestamp,,,,,,,,
2019-05-01 04:00:00+00:00,210.20,215.3100,209.230,210.52,64827505,441450,212.670859,AAPL
2019-05-02 04:00:00+00:00,209.65,212.6500,208.130,209.15,32000324,233410,210.155469,AAPL
2019-05-03 04:00:00+00:00,210.78,211.8400,210.230,211.75,21092378,148449,211.161771,AAPL
2019-05-06 04:00:00+00:00,204.16,208.8400,203.500,208.48,32444375,236173,207.309513,AAPL
2019-05-07 04:00:00+00:00,205.86,207.4175,200.825,202.86,38763698,294532,203.568951,AAPL
2019-05-08 04:00:00+00:00,201.90,205.3400,201.750,202.90,26339674,202767,203.706568,AAPL
2019-05-09 04:00:00+00:00,200.49,201.6800,196.660,200.72,34908953,290612,199.333099,AAPL
2019-05-10 04:00:00+00:00,197.47,198.8500,192.770,197.18,41219893,324327,196.050767,AAPL
2019-05-13 04:00:00+00:00,187.48,189.4800,182.850,185.72,57430931,458559,186.751276,AAPL
2019-05-14 04:00:00+00:00,186.33,189.7000,185.410,188.66,36529998,273848,187.976540,AAPL

In [12]:
#create empty Dataframe to hold the close price of the stock 
df_ticker = pd.DataFrame()

# Get only the close price 
df_ticker['close'] = df['close']

display(df_ticker)

                            close
timestamp
2019-05-01 04:00:00+00:00  210.52
2019-05-02 04:00:00+00:00  209.15
2019-05-03 04:00:00+00:00  211.75
2019-05-06 04:00:00+00:00  208.48
2019-05-07 04:00:00+00:00  202.86
...                           ...
2020-04-27 04:00:00+00:00  283.17
2020-04-28 04:00:00+00:00  278.58
2020-04-29 04:00:00+00:00  287.73
2020-04-30 04:00:00+00:00  293.80
2020-05-01 04:00:00+00:00  289.07

[254 rows x 1 columns]